@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
 font-family: 'Lot';
 src: url('/fonts/Lot-Regular.woff2') format('woff2');
 font-style: normal;
 font-display: swap;
}

@font-face {
 font-family: 'Josefin Sans';
 src: url('/fonts/Josefin-Sans.woff2') format('woff2');
 font-style: normal;
 font-weight: 350;
 font-display: swap;
}

@font-face {
 font-family: 'Yeserva One';
 src: url('/fonts/Yeserva-One.woff2') format('woff2');
 font-style: normal;
 font-display: swap;
}

:root {
  --background: #E6E5E2;
  --foreground: #4E5253;
  --primary: #928E43;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #191919;
    --foreground: #E6E5E2;
    --primary: #928E43;
  }
}

body {
  color: var(--white-water);
  @apply text-sm md:text-base lg:text-lg text-foreground bg-background;
}

h1 {
  font-family: 'Lot';
  @apply text-5xl md:text-6xl lg:text-7xl text-primary;
}

h2 {
  font-family: 'Yeserva One';
  @apply text-xl sm:text-3xl md:text-4xl text-primary;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .cta {
    @apply flex items-center bg-primary text-background rounded-md transition-all duration-1000 overflow-hidden relative;
  }

  .cta::before {
    @apply absolute left-0 z-0 h-full w-0 outline-none transition-all duration-500;
  }

  .cta:hover::before {
    @apply w-full;
  }
}
